@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* Brand Colors */
@theme {
  --color-brand-blue: #3884C5;
  --color-brand-dark: #0C283B;
  --color-brand-light: #F9F9F9;
  --color-brand-gray: #6B7280;
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  background-color: var(--color-brand-light);
  color: var(--color-brand-dark);
  font-family: var(--font-montserrat);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: auto !important;
}

altcha-widget {
  --altcha-bg-color: transparent !important;
  --altcha-border-color: rgba(255, 255, 255, 0.1) !important;
  --altcha-label-color: #ffffff !important;
  --altcha-color-base: #ffffff !important;
}

/* Rimuove il bordo standard se preferisci quello del tuo contenitore */
altcha-widget::part(container) {
  border-radius: 1rem;
  padding: 0.75rem;
}